<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
         /* Hide scrollbar for Chrome, Safari and Opera in each Card*/
        .InfoCard::-webkit-scrollbar {
           display: none;
        } 

    /* Hide scrollbar for IE, Edge and Firefox in each Card*/
        .InfoCard {
           -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        } 

        /* Hide scrollbar for Chrome, Safari and Opera in each Termin*/
        .todayentry::-webkit-scrollbar {
           display: none;
        } 

    /* Hide scrollbar for IE, Edge and Firefox in each Termin*/
        .todayentry {
           -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        } 

        .openbtn{
            position: absolute;
            padding: 0 0 0 0;
        }

        .openbtn:hover{
            border: solid 5px grey;
        }

        #ContainerCards{
            margin: 0 auto;
            display: grid;
            gap: 1rem;
        }

        .InfoCard{
            height: 40vh;
            background-color: lightblue;
            border: solid 2px black;
            border-radius: 12px;
            box-sizing: border-box;
        }

        .InfoCard:hover{
            border: solid 6px blue;
        }

        .left{
            margin-left: 2%;
        }

        .todayentry{
            overflow-x: scroll;
            width: 90%;
            height: 3vh;
            margin-left: 5%;
            margin-top: 1vh;
            background-color: rgb(24, 138, 138);
            padding-left: 3px;
        }

        .News{
            margin-top: 5vh;
            width: 100%;
            height: 90vh;
            background-color: lightblue;
            border: solid 2px black;
            border-radius: 12px;
        }

        @media (min-width: 750px) {
            #ContainerCards{
                grid-template-columns: repeat(2, 1fr);
            }
        }
    </style>
</head>
<body>
    <!-- Sidebar -->
    <button class="openbtn" onclick="openSidebar()" id="openbtn">&#9776;</button>

    <!-- Dashboard -->
    <h2 style="text-align: center;">Dashboard - Welcome <%= name %></h2>
    <div id="ContainerCards">
            <div class="InfoCard">
                <div class="Card">
                    <h4 class="center">Aktuelle Teams</h4>
                    <span class="left">Anzahl deiner aktuellen Teams: <%= TeamList.length%></span>
                </div>
            </div>
            <div class="InfoCard">
                <div class="Card">
                    <h4 class="center">Team-Beitrittsanfragen</h4>
                    <% if(user.Informations.TeamRequests.length == 0){%>
                        <p class="center"><em>Keine aktuellen Team-Anfragen</em></p>
                    <%}%>
                </div>
            </div>
        
            <div class="InfoCard">
                <div class="Card">
                    <h4 class="center">Persönliche Tools</h4>
                    <span class="left">Anzahl persönlicher Kalender Einträge: <%= user.PersönlicheEinträge.length %></span><br>
                    <% if (user.Settings.AutomaticDeleteEntrys == true){%>
                        <span class="left">Automatisches Löschen 7 Tagen nach Ende des Termins ist aktiviert</span><br>
                    <%}else{%>
                        <span class="left">Automatisches Löschen 7 Tagen nach Ende des Termins ist nicht aktiviert</span><br>
                    <%}%>
                    <span class="left">Deine Default-Color ist: <span id="color">Color</span></span><br><br>
                    <span class="left">Anzahl aktiver persönlicher ToDo's: <%= user.PersönlicheTodos.length %></span><br>
                    <span class="left">Anzahl abgeschlossener persönlicher ToDo's: <%= user.Informations.finishedToDos.length %> </span><br>
                    <span class="left">Durchschnittliche Abschlussdauer:<em> <%= averageTimeCompleted %></em></span>
                </div>
            </div>
            <div class="InfoCard" style="overflow-y: scroll;">
                <div class="Card">
                    <h4 class="center">Persönliche Termine Heute:</h4>
                    <% if (EntrysToday.length > 0){%>
                        <div id="todayCalendar">
                            <% EntrysToday.forEach(entry =>{%>
                                <% const EintragsStart = entry.start.slice(11, 16)%>
                                <% const EintragsEnde = entry.end.slice(11, 16)%>
                                <% if (EintragsStart == ""){%>
                                    <div class="todayentry">all-day: <%= entry.title %></div>
                                <%}else{%>
                                    <div class="todayentry"><%= EintragsStart%>-<%= EintragsEnde%>: <%= entry.title %></div>
                                <%}%>
                            <%})%>
                        </div>
                    <%}else{%>
                       <p class="center"><em>Noch keine Termine heute</em></p>
                    <%}%>
                </div>
            </div>
    </div>
    <div class="News">
        <!-- News zu Updates und Co -->
        <h3 class="center">Was ist neu?</h3>
        <p class="left">(13.07) Email-Validation wurde aufgrund von E-Mail-Server Problemen ausgesetzt. </p>
        <h5 class="left">Mama hat Geburtstag</h5>
        <p class="left">(12.07.2022) Herzlich Glückwunsch an Mama</p>
        <h5 class="left">Persönliche ToDoListe</h5>
        <p class="left">(08.07.2022) Von fortan hat jeder User eigene persönliche ToDo-Liste. Diese findet man (<a href="/myToDoList">hier</a>) direkt unter dem Persönlichen Kalender. Erstellen Sie neue ToDo's und speichern sie diese langfristig. Wenn Sie ihre Aufgabe abgeschlossen haben, drücken sie nur auf den Bestätigung-Haken neben dem ToDo, wodurch dieses dauerhaft verschwindet. Die Anzahl ihrer abgeschlossenen ToDo's wird gespeichert und ist im Dashboard in den Statistiken ("Persönliche Tools") einzusehen. Beachten Sie allerdings, dass die maximale Zeichenlänge eines ToDo's 60 beträgt. Die Verwendung von Anführungszeichen in einem ToDo ist ungültig. </p>
    </div>
    <script>
        const DefaultColor = "<%= user.Settings.DefaultColor%>";
        document.getElementById("color").style.backgroundColor = DefaultColor;
        document.getElementById("color").style.color = DefaultColor;
    </script>
</body>
</html>