<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= name %></title>
    <style>
        #MessagesDiv{
            background-color: azure;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }

        #MessagesDiv .msg{
            width: 30%;
            margin-left: 3%;
            background-color: aqua;
            margin-top: 1vh;
            padding: 0.3em;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <h2 style="text-align: center;">Projekt - <%= name %></h2>
    <h3 style="text-align: center;">Nachrichten:</h3>
    <div id="MessagesDiv">
        <%Msgs.forEach(msg =>{%>
            <div class="msg">
                <span><strong>Name: </strong> <%= msg.Name %></span><br>
                <span><strong>Email: </strong><%= msg.Email %></span><br>
                <span><strong>Nachricht: </strong><%= msg.Message %></span>
            </div>
        <%})%>
    </div>
    <div id="SettingsDiv">
        <h3 style="text-align: center;">Settings:</h3>
        <span>ID: <%= id %></span>
    </div>
</body>
</html>